.footer{
  .content{
    .logo{
     width: 130px;
      filter: grayscale(1);
      padding: 0 0 15px 0;
    }
    .socialMedias{
      a{
        img{
          width: 40px;
          margin-left: 10px;
          border-radius: 15%;
        }
      }
    }
    display: flex;
    flex-direction: column;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 30px 0 30px 0;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
