<div class="footer">
 <div class="content">
   <img class="logo" src="assets/images/logo.webp" alt="sigma-white-logo">
   <div class="socialMedias">
     <a target="_blank" href="https://www.linkedin.com/company/sigma-telecom-llc/">
       <img src="assets/images/icons/linkedin.webp" alt="linkedin-logo">
     </a>
     <a target="_blank" href="https://www.facebook.com/cellsigmatelecom">
       <img src="assets/images/icons/facebook.webp" alt="facebook-logo">
     </a>
     <a target="_blank" href="https://www.instagram.com/sigmatelecom/">
       <img src="assets/images/icons/instagram.webp" alt="instagram-logo">
     </a>
     <a target="_blank" href="https://twitter.com/sigma_telecom">
       <img src="assets/images/icons/twitter.webp" alt="twitter-logo">
     </a>
   </div>
 </div>
  <p>© Copyright 2021 Sigma Telecom. Sigma Telecom is a <a target="_blank" href="https://www.sigmagroupcompanies.com/">SIGMA GROUP</a> brand.</p>
</div>
