.content{
  .share{
    .shareIcons{
      a{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        background: #081c48;
        text-decoration: none;
        border-radius: 100%;
        margin-right: 10px;
      }
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .postImage{
    margin-bottom: -35px;
    width: 100%;
  }
  .loader{
    margin-bottom: 10px;
  }
  background: #1e366a;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto auto auto;
  max-width: 800px;
}
